.forgot-password {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0rem auto;
    padding-top: 2rem;
    text-align: center;
    background-color: transparent;
}

.forgot-password .forgot-password-image {
    width: 50%;
    display: flex;
}

.forgot-password .forgot-password-image img {
    width: 100%;
}

.forgot-password-form {
    width: 50%;
    height: auto;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
}

.forgot-password-form h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.forgot-password-form p {
    color: gray;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin: 1rem auto;
    text-align: center;
}


.forgot-password-form form {
    width: 90%;
}

.forgot-password-form form input {
    width: 100%;
    padding: 12px;
    margin: 0.5rem 0;
    background-color: var(--secondary-color);
    color: #484848;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    border: 1px solid #ccc;
    border-radius: 9px;
    transition: all 0.1s;
}

.forgot-password-form form input:focus {
    outline: none;
    border-color: #e96666;
    box-shadow: 0 0 8px rgba(233, 102, 102, 0.6);
}

.forgot-password-form form button {
    width: 100%;
    padding: 12px;
    margin: 0.5rem 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 1rem;
}

.forgot-password-form form button:hover {
    background-color: #ff6666;
}

.forgot-password-form form button:focus {
    outline: none;
    background-color: #ff6666;
}

.forgot-pass-img-only-mobile-view{
    display: none;
    width: 80%;
}

.forgot-pass-img-only-mobile-view img{
    width: 100%;
    height: 100%;
}

@media (max-width: 700px) {
    .forgot-password {
        width: 100%;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: start;
        height: 97.5vmax;
    }
    
    .forgot-password .forgot-password-image {
        display: none;
    }
    
    .forgot-password-form {
        width: 100%;
        padding: 5rem 1rem;
    }
    
    .forgot-password-form h2 {
        font-size: 3rem;
    }

    .forgot-pass-img-only-mobile-view{
        display: block;
    }
    
    .forgot-password-form p {
        font-size: 1.65rem;
    }

    .forgot-password-form form {
        width: 100%;
        padding: 0 .5rem;
    }

    .forgot-password-form form input{
        font-size: 1.6rem;
        padding: 12px;
        border-radius: 9px;
        margin-bottom: 1.5rem;
    }

    .forgot-password-form form button{
        font-size: 1.6rem;
        padding: 12px;
        border-radius: 9px;
    }

}