@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #aaaaaa transparent;
  box-sizing: border-box;
}

/* Move Botpress chatbot slightly upward */
#bp-web-widget {
  bottom: 40px !important; /* adjust value as needed */
}

/* :root {
  --primary-color: #ff0000; 
  --primary-301-color:rgba(255, 0, 0, 0.301);
  --dark-primary-color: #a30000;
  --faint-primary-color: #ff6767;
  --ffaint-primary-color : #ff8b8b7c;
  --secondary-color: #ffffff; 
  --background-color: #f5f5f5; 
  --text-color: #333333; 
  --hover-color: #cc0000; 
} */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;
}

.loading-center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;
}


:root {
  --primary-color: #232761; /* New Primary Color */
  --primary-301-color: rgba(35, 39, 97, 0.301);
  --dark-primary-color: #1a1e4d;
  --faint-primary-color: #4d517b;
  --ffaint-primary-color : #8b9cff7c;
  --secondary-color: #ffffff; /* White */
  --background-color: #f5f5f5; /* Light gray */
  --text-color: #333333; /* Dark gray */
  --hover-color: #0a0c2c; /* Darker shade of primary for hover */
}

.main-heading-for-all-website {
  font-size: 32px;
  color: var(--text-color);
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.2;
}

@media (max-width: 786px) {
  .main-heading-for-all-website{
    font-size: 24px;
  }
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2; 
  border-radius: 50px; 
  border: 2px solid transparent; 
  background-clip: content-box; 
}

::-webkit-scrollbar-track {
  background: none; 
}

body::-webkit-scrollbar {
  display: none;
}

body,
html {
  overflow-x: hidden;
}

.App {
  background-color: var(--background-color);
}


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  min-width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
}

html {
  font-size: 60%;
}

@media (min-width: 576px) {
  html {
    font-size: 72.5%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 78.75%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 95%;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 100%;
  }
}
